In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession \
    .builder \
    .master('yarn')\
    .appName("RDD creation")\
    .getOrCreate()

In [3]:
spark

In [11]:
aisles_df = spark.read.options(header='True', inferSchema='True', delimiter=',') \
  .csv("aisles.csv")

In [12]:
aisles_df.printSchema()

root
 |-- aisle_id: integer (nullable = true)
 |-- aisle: string (nullable = true)

In [13]:
dep_df = spark.read.options(header='True', inferSchema='True', delimiter=',') \
  .csv("departments.csv")

In [14]:
dep_df.printSchema()

root
 |-- department_id: integer (nullable = true)
 |-- department: string (nullable = true)

In [16]:
order_prod_train_df = spark.read.options(header='True', inferSchema='True', delimiter=',') \
  .csv("order_products__train.csv")

In [17]:
order_prod_train_df.printSchema()

root
 |-- order_id: integer (nullable = true)
 |-- product_id: integer (nullable = true)
 |-- add_to_cart_order: integer (nullable = true)
 |-- reordered: integer (nullable = true)

In [18]:
products_df = spark.read.options(header='True', inferSchema='True', delimiter=',') \
  .csv("products.csv")

In [19]:
products_df.printSchema()

root
 |-- product_id: integer (nullable = true)
 |-- product_name: string (nullable = true)
 |-- aisle_id: string (nullable = true)
 |-- department_id: string (nullable = true)

In [20]:
sample_submission_df = spark.read.options(header='True', inferSchema='True', delimiter=',') \
  .csv("sample_submission.csv")

In [21]:
sample_submission_df.printSchema()

root
 |-- order_id: integer (nullable = true)
 |-- products: string (nullable = true)

In [22]:
orders_df = spark.read.options(header='True', inferSchema='True', delimiter=',') \
  .csv("orders.csv")

In [23]:
orders_df.printSchema()

root
 |-- order_id: integer (nullable = true)
 |-- user_id: integer (nullable = true)
 |-- eval_set: string (nullable = true)
 |-- order_number: integer (nullable = true)
 |-- order_dow: integer (nullable = true)
 |-- order_hour_of_day: integer (nullable = true)
 |-- days_since_prior_order: double (nullable = true)

In [25]:
order_prod_prior_df = spark.read.options(header='True', inferSchema='True', delimiter=',') \
  .csv("order_products__prior.csv")

In [26]:
order_prod_prior_df.printSchema()

root
 |-- order_id: integer (nullable = true)
 |-- product_id: integer (nullable = true)
 |-- add_to_cart_order: integer (nullable = true)
 |-- reordered: integer (nullable = true)

In [27]:
products_df.show()

+----------+--------------------+--------+-------------+
|product_id|        product_name|aisle_id|department_id|
+----------+--------------------+--------+-------------+
|         1|Chocolate Sandwic...|      61|           19|
|         2|    All-Seasons Salt|     104|           13|
|         3|Robust Golden Uns...|      94|            7|
|         4|Smart Ones Classi...|      38|            1|
|         5|Green Chile Anyti...|       5|           13|
|         6|        Dry Nose Oil|      11|           11|
|         7|Pure Coconut Wate...|      98|            7|
|         8|Cut Russet Potato...|     116|            1|
|         9|Light Strawberry ...|     120|           16|
|        10|Sparkling Orange ...|     115|            7|
|        11|   Peach Mango Juice|      31|            7|
|        12|Chocolate Fudge L...|     119|            1|
|        13|   Saline Nasal Mist|      11|           11|
|        14|Fresh Scent Dishw...|      74|           17|
|        15|Overnight Diapers...|      56|           18|
|        16|Mint Chocolate Fl...|     103|           19|
|        17|   Rendered Duck Fat|      35|           12|
|        18|Pizza for One Sup...|      79|            1|
|        19|Gluten Free Quino...|      63|            9|
|        20|Pomegranate Cranb...|      98|            7|
+----------+--------------------+--------+-------------+
only showing top 20 rows

In [28]:
aisles_df.show()

+--------+--------------------+
|aisle_id|               aisle|
+--------+--------------------+
|       1|prepared soups sa...|
|       2|   specialty cheeses|
|       3| energy granola bars|
|       4|       instant foods|
|       5|marinades meat pr...|
|       6|               other|
|       7|       packaged meat|
|       8|     bakery desserts|
|       9|         pasta sauce|
|      10|    kitchen supplies|
|      11|    cold flu allergy|
|      12|         fresh pasta|
|      13|      prepared meals|
|      14|tofu meat alterna...|
|      15|    packaged seafood|
|      16|         fresh herbs|
|      17|  baking ingredients|
|      18|bulk dried fruits...|
|      19|       oils vinegars|
|      20|        oral hygiene|
+--------+--------------------+
only showing top 20 rows

In [29]:
products_df.show()

+----------+--------------------+--------+-------------+
|product_id|        product_name|aisle_id|department_id|
+----------+--------------------+--------+-------------+
|         1|Chocolate Sandwic...|      61|           19|
|         2|    All-Seasons Salt|     104|           13|
|         3|Robust Golden Uns...|      94|            7|
|         4|Smart Ones Classi...|      38|            1|
|         5|Green Chile Anyti...|       5|           13|
|         6|        Dry Nose Oil|      11|           11|
|         7|Pure Coconut Wate...|      98|            7|
|         8|Cut Russet Potato...|     116|            1|
|         9|Light Strawberry ...|     120|           16|
|        10|Sparkling Orange ...|     115|            7|
|        11|   Peach Mango Juice|      31|            7|
|        12|Chocolate Fudge L...|     119|            1|
|        13|   Saline Nasal Mist|      11|           11|
|        14|Fresh Scent Dishw...|      74|           17|
|        15|Overnight Diapers...|      56|           18|
|        16|Mint Chocolate Fl...|     103|           19|
|        17|   Rendered Duck Fat|      35|           12|
|        18|Pizza for One Sup...|      79|            1|
|        19|Gluten Free Quino...|      63|            9|
|        20|Pomegranate Cranb...|      98|            7|
+----------+--------------------+--------+-------------+
only showing top 20 rows

In [30]:
orders_df.show()

+--------+-------+--------+------------+---------+-----------------+----------------------+
|order_id|user_id|eval_set|order_number|order_dow|order_hour_of_day|days_since_prior_order|
+--------+-------+--------+------------+---------+-----------------+----------------------+
| 2539329|      1|   prior|           1|        2|                8|                  null|
| 2398795|      1|   prior|           2|        3|                7|                  15.0|
|  473747|      1|   prior|           3|        3|               12|                  21.0|
| 2254736|      1|   prior|           4|        4|                7|                  29.0|
|  431534|      1|   prior|           5|        4|               15|                  28.0|
| 3367565|      1|   prior|           6|        2|                7|                  19.0|
|  550135|      1|   prior|           7|        1|                9|                  20.0|
| 3108588|      1|   prior|           8|        1|               14|                  14.0|
| 2295261|      1|   prior|           9|        1|               16|                   0.0|
| 2550362|      1|   prior|          10|        4|                8|                  30.0|
| 1187899|      1|   train|          11|        4|                8|                  14.0|
| 2168274|      2|   prior|           1|        2|               11|                  null|
| 1501582|      2|   prior|           2|        5|               10|                  10.0|
| 1901567|      2|   prior|           3|        1|               10|                   3.0|
|  738281|      2|   prior|           4|        2|               10|                   8.0|
| 1673511|      2|   prior|           5|        3|               11|                   8.0|
| 1199898|      2|   prior|           6|        2|                9|                  13.0|
| 3194192|      2|   prior|           7|        2|               12|                  14.0|
|  788338|      2|   prior|           8|        1|               15|                  27.0|
| 1718559|      2|   prior|           9|        2|                9|                   8.0|
+--------+-------+--------+------------+---------+-----------------+----------------------+
only showing top 20 rows

In [31]:
aisles_df.show()

+--------+--------------------+
|aisle_id|               aisle|
+--------+--------------------+
|       1|prepared soups sa...|
|       2|   specialty cheeses|
|       3| energy granola bars|
|       4|       instant foods|
|       5|marinades meat pr...|
|       6|               other|
|       7|       packaged meat|
|       8|     bakery desserts|
|       9|         pasta sauce|
|      10|    kitchen supplies|
|      11|    cold flu allergy|
|      12|         fresh pasta|
|      13|      prepared meals|
|      14|tofu meat alterna...|
|      15|    packaged seafood|
|      16|         fresh herbs|
|      17|  baking ingredients|
|      18|bulk dried fruits...|
|      19|       oils vinegars|
|      20|        oral hygiene|
+--------+--------------------+
only showing top 20 rows

In [32]:
sample_submission_df.show()

+--------+-----------+
|order_id|   products|
+--------+-----------+
|      17|39276 29259|
|      34|39276 29259|
|     137|39276 29259|
|     182|39276 29259|
|     257|39276 29259|
|     313|39276 29259|
|     353|39276 29259|
|     386|39276 29259|
|     414|39276 29259|
|     418|39276 29259|
|     437|39276 29259|
|     452|39276 29259|
|     474|39276 29259|
|     492|39276 29259|
|     497|39276 29259|
|     513|39276 29259|
|     517|39276 29259|
|     604|39276 29259|
|     680|39276 29259|
|     758|39276 29259|
+--------+-----------+
only showing top 20 rows

In [33]:
order_prod_train_df.show()

+--------+----------+-----------------+---------+
|order_id|product_id|add_to_cart_order|reordered|
+--------+----------+-----------------+---------+
|       1|     49302|                1|        1|
|       1|     11109|                2|        1|
|       1|     10246|                3|        0|
|       1|     49683|                4|        0|
|       1|     43633|                5|        1|
|       1|     13176|                6|        0|
|       1|     47209|                7|        0|
|       1|     22035|                8|        1|
|      36|     39612|                1|        0|
|      36|     19660|                2|        1|
|      36|     49235|                3|        0|
|      36|     43086|                4|        1|
|      36|     46620|                5|        1|
|      36|     34497|                6|        1|
|      36|     48679|                7|        1|
|      36|     46979|                8|        1|
|      38|     11913|                1|        0|
|      38|     18159|                2|        0|
|      38|      4461|                3|        0|
|      38|     21616|                4|        1|
+--------+----------+-----------------+---------+
only showing top 20 rows

In [34]:
#Merging of products and aisles
products_and_aisles_df = products_df.join(aisles_df, aisles_df["aisle_id"] == products_df["aisle_id"])

In [37]:
products_and_aisles_df = products_df.join(aisles_df, ["aisle_id"])

In [ ]:
#Merging prod aisles with orders useing product id:

In [43]:
o_prod_ais = products_and_aisles_df.join(order_prod_train_df, ["product_id"])

In [46]:
final_instacart_df = o_prod_ais.join(dep_df,["department_id"])

In [48]:
#Fully Merged Dataframe with all columns
final_instacart_df.show()

+-------------+----------+--------+------------+------------+--------+-----------------+---------+----------+
|department_id|product_id|aisle_id|product_name|       aisle|order_id|add_to_cart_order|reordered|department|
+-------------+----------+--------+------------+------------+--------+-----------------+---------+----------+
|            4|       148|      24|  Nectarines|fresh fruits|   36580|               24|        1|   produce|
|            4|       148|      24|  Nectarines|fresh fruits|   58089|               13|        0|   produce|
|            4|       148|      24|  Nectarines|fresh fruits|  129966|               11|        1|   produce|
|            4|       148|      24|  Nectarines|fresh fruits|  134443|               14|        0|   produce|
|            4|       148|      24|  Nectarines|fresh fruits|  202617|                4|        1|   produce|
|            4|       148|      24|  Nectarines|fresh fruits|  284826|               10|        1|   produce|
|            4|       148|      24|  Nectarines|fresh fruits|  292177|                2|        1|   produce|
|            4|       148|      24|  Nectarines|fresh fruits|  389147|                1|        0|   produce|
|            4|       148|      24|  Nectarines|fresh fruits|  401329|                5|        1|   produce|
|            4|       148|      24|  Nectarines|fresh fruits|  405674|                5|        0|   produce|
|            4|       148|      24|  Nectarines|fresh fruits|  407503|               32|        1|   produce|
|            4|       148|      24|  Nectarines|fresh fruits|  452836|               20|        1|   produce|
|            4|       148|      24|  Nectarines|fresh fruits|  539401|               15|        1|   produce|
|            4|       148|      24|  Nectarines|fresh fruits|  604121|                4|        1|   produce|
|            4|       148|      24|  Nectarines|fresh fruits|  606045|                3|        0|   produce|
|            4|       148|      24|  Nectarines|fresh fruits|  696346|               19|        0|   produce|
|            4|       148|      24|  Nectarines|fresh fruits|  697102|                9|        0|   produce|
|            4|       148|      24|  Nectarines|fresh fruits|  704303|                9|        1|   produce|
|            4|       148|      24|  Nectarines|fresh fruits|  732117|               24|        0|   produce|
|            4|       148|      24|  Nectarines|fresh fruits|  739215|               24|        0|   produce|
+-------------+----------+--------+------------+------------+--------+-----------------+---------+----------+
only showing top 20 rows

#### From the above result, we can see that there is neither nan or null data within the columns of the dataset.

## Finding the most ordered products (top 10)

In [60]:
top_10_df = final_instacart_df.orderBy("add_to_cart_order", ascending=[0])

In [64]:
top_10_df.show()

+-------------+----------+--------+--------------------+--------------------+--------+-----------------+---------+---------------+
|department_id|product_id|aisle_id|        product_name|               aisle|order_id|add_to_cart_order|reordered|     department|
+-------------+----------+--------+--------------------+--------------------+--------+-----------------+---------+---------------+
|           19|     21641|     117|Mixed Nuts Lightl...|nuts seeds dried ...| 1395075|               80|        0|         snacks|
|            4|     41771|     123|Fresh European St...|packaged vegetabl...| 2813632|               80|        1|        produce|
|           19|     14862|      23|Aged White Chedda...|       popcorn jerky| 2813632|               79|        0|         snacks|
|            4|     47766|      24|     Organic Avocado|        fresh fruits| 1395075|               79|        1|        produce|
|           14|      6187|     121|  Raisin Bran Cereal|              cereal| 2813632|               78|        0|      breakfast|
|            4|     45063|     123|Organic Baby Bell...|packaged vegetabl...| 1395075|               78|        1|        produce|
|           18|      1709|      56|Done Baby Wipes C...|       diapers wipes| 1395075|               77|        0|         babies|
|            4|     38400|      83|Asparation/Brocco...|    fresh vegetables| 2813632|               77|        1|        produce|
|           16|     27086|      53|         Half & Half|               cream|  949182|               77|        1|     dairy eggs|
|           16|     27845|      84|  Organic Whole Milk|                milk|  949182|               76|        1|     dairy eggs|
|           15|        79|      95|Wild Albacore Tun...| canned meat seafood|  341238|               76|        0|   canned goods|
|           18|     44497|      56|Fragrance Free Na...|       diapers wipes| 1395075|               76|        1|         babies|
|            7|     12440|      31| California Lemonade|        refrigerated| 2869702|               76|        1|      beverages|
|            1|     30806|     129|Olive Oil Rosemar...|frozen appetizers...| 2813632|               76|        0|         frozen|
|            5|     42148|      27|   Dark Belgian Beer|       beers coolers|  312611|               75|        1|        alcohol|
|           13|     31506|      19|Extra Virgin Oliv...|       oils vinegars|  341238|               75|        0|         pantry|
|           16|     49628|     120|   Yoghurt Blueberry|              yogurt| 2869702|               75|        0|     dairy eggs|
|           16|     17758|     120|Strawberry Rhubar...|              yogurt|  949182|               75|        0|     dairy eggs|
|            9|     44325|     131|Elbow Macaroni Pasta|           dry pasta| 2813632|               75|        0|dry goods pasta|
|           17|     21868|      54|Bathroom Tissue, ...|         paper goods| 1395075|               75|        1|      household|
+-------------+----------+--------+--------------------+--------------------+--------+-----------------+---------+---------------+
only showing top 20 rows

#### Above, we can see the top 10 products that are the most purchased.

### Do people usually reorder the same previously ordered products? Answer: Yes, people usually reorder the same items

## Obtaining the Top-10 Departments

In [86]:
final_instacart_df.groupBy("department_id").count().show(10)

+-------------+------+
|department_id| count|
+-------------+------+
|            7|114046|
|           15| 46799|
|           11| 21570|
|            3| 48394|
|            8|  4497|
|           16|217051|
|            5|  5598|
|           18| 14941|
|           17| 35986|
|            6| 11902|
+-------------+------+
only showing top 10 rows

### From the above we can see the top 10 departments and their frequencies

## List top 10 products ordered in the morning (6 AM to 11 AM)

In [87]:
final_dataframe = final_instacart_df.join(orders_df, ["order_id"])

In [100]:
final_dataframe.createOrReplaceTempView("final_table")

In [103]:
spark.sql("SELECT product_name, order_hour_of_day FROM final_table WHERE order_hour_of_day >= 6 AND order_hour_of_day <= 11").show(10)

+--------------------+-----------------+
|        product_name|order_hour_of_day|
+--------------------+-----------------+
|Organic Strawberries|                8|
|          Raw Shrimp|                8|
|Bag of Organic Ba...|                8|
|Chicken Apple Sau...|                8|
|    Pink Lady Apples|                8|
|  Seedless Cucumbers|                8|
|Versatile Stain R...|                8|
|   Organic Mandarins|                8|
|Italian Pasta Sau...|               11|
|      Globe Eggplant|               11|
+--------------------+-----------------+
only showing top 10 rows

## Finding missing data in the dataframe

In [105]:
from pyspark.sql.functions import isnan, when, count, col
final_dataframe.select([count(when(isnan(c), c)).alias(c) for c in final_dataframe.columns]).show()

+--------+-------------+----------+--------+------------+-----+-----------------+---------+----------+-------+--------+------------+---------+-----------------+----------------------+
|order_id|department_id|product_id|aisle_id|product_name|aisle|add_to_cart_order|reordered|department|user_id|eval_set|order_number|order_dow|order_hour_of_day|days_since_prior_order|
+--------+-------------+----------+--------+------------+-----+-----------------+---------+----------+-------+--------+------------+---------+-----------------+----------------------+
|       0|            0|         0|       0|           0|    0|                0|        0|         0|      0|       0|           0|        0|                0|                     0|
+--------+-------------+----------+--------+------------+-----+-----------------+---------+----------+-------+--------+------------+---------+-----------------+----------------------+